/* body{
  background-color:rgb(238, 231, 231);
} */
.header{
  background-color: orange;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
  padding:px;
  margin-bottom: 50px;
  color:white;
}
.createArea{
 padding: 20px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 350px;
  height:auto;
  margin-left: 30%;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.3)
}
input,textarea{
  width:200px;
  border:none;
outline: darkgrey;


}
input{
  margin-left: 20px;
  margin-bottom: 5px;
}
.container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  
 
}
.note{
  width:250px;
  height:100px;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.3);
  margin:25px;
  display: flex;
  justify-content: space-between;
}
button{
  background-color: orange;
  border:none;
  color:white;
  
  height: 25px;
  
}
